---
import WebIcon from "./icons/Web.astro";
import NextJSIcon from "./icons/NextJS.astro";
import TailwindIcon from "./icons/Tailwind.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import FirebaseIcon from "./icons/Firebase.astro";
import HygraphIcon from "./icons/Hygraph.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-white text-black",
    icon: NextJSIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: TailwindIcon,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-black text-white",
    icon: AstroIcon,
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-white text-black",
    icon: FirebaseIcon,
  },
  HYGRAPH: {
    name: "Hygraph",
    class: "bg-black text-white",
    icon: HygraphIcon,
  },
};
const PROJECTS = [
  {
    title: "Evergreen 33DC",
    description:
      "Descubre la oportunidad de inversión más rentable en el mercado inmobiliario de viviendas estudiantiles en Bogotá. Convierte tu capital en una fuente segura de ingresos con rentabilidades superiores al 12% E.A. Unidades amobladas con operador especializado en administración. Haz clic aquí y elige la tuya.",
    link: "https://landing-evergreen-33dc.vercel.app/",
    github: "https://github.com/pheralb/svgl",
    image: "/projects/33dc.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
    isPublic: false,
  },
  {
    title: "Roommie",
    description:
      "En Roomie encuentras la oportunidad de inversión más moderna y rentable de Armenia, Quindío. Un proyecto con increíbles zonas sociales para disfrutar. Conoce más de nuestros proyectos.",
    link: "https://interna-roomie.vercel.app/",
    github: "https://github.com/pheralb/svgl",
    image: "/projects/roomie.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
    isPublic: false,
  },
  {
    title: "Dr Juan Pablo Molina - Experto en Salud Mamaria",
    description:
      "Dr Juan Pablo Molina. Médico y especialista de procedimientos en mastología, cirugía de mama y tumores de tejidos blandos. Prestamos servicios de salud a través de tecnología de punta. Especialista integral en tratamientos vanguardistas para el cuidado de tu salud y bienestar.",
    link: "https://dr-juan-pablo-molina.vercel.app/",
    github: "https://github.com/pheralb/svgl",
    image: "/projects/dr-molina.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.HYGRAPH],
    isPublic: false,
  },
  {
    title: "Test - Con Los Crespos Hechos",
    description:
      "Hola hola!!! Bienvenid@, quiero hacerte unas preguntas para conocer mejor tu pelo y así recomendarte los productos y la rutina más adecuada para ti, tranquil@, no te tomará más de 2 minutos responderlas…",
    link: "https://test.conloscresposhechos.com.co/",
    github: "https://github.com/pheralb/svgl",
    image: "/projects/gaviranda.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND, TAGS.FIREBASE],
    isPublic: false,
  },
];
---

{
  PROJECTS.map(({ image, link, title, description, tags, isPublic }) => (
    <article>
      <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row pb-2 mb-1 w-full overflow-x-auto">
        {tags.map((tag) => (
          <li class="text-nowrap">
            <span
              class={`flex items-center justify-center gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <div class="rounded group shadow-2xl shadow-white/10 aspect-video overflow-clip relative">
        <div class="w-full h-full flex flex-col justify-center items-center bg-black/70 absolute top-0 z-10 left-0 opacity-0 group-hover:opacity-100 transition text-white/75">
          <a href={link} target="_blank" rel="noopener noreferrer">
            <WebIcon class="size-10 lg:size-20 cursor-pointer hover:text-sky-200 hover:scale-110 transition" />
          </a>
        </div>
        {!isPublic && (
          <div class="rounded opacity-0 group-hover:opacity-100 bg-red-500 text-xs absolute right-1 top-1 z-20 p-2 transition">
            Proyecto empresarial
          </div>
        )}
        <img
          loading="lazy"
          class="z-0 relative"
          src={image}
          alt={`Captura de pantalla del proyecto ${image}`}
        />
      </div>
    </article>
  ))
}
